---
// src/components/SocialIcons.astro

const socialLinks = [
  { 
    name: 'YouTube', 
    href: 'https://www.youtube.com/@novikernel', 
    target: '_blank',
    icon: {
      path: 'M19.615 3.184c-3.64-.268-7.394-.268-11.033 0-2.458.18-3.955.932-5.418 2.394-.783.784-1.385 1.688-1.802 2.668-.426.984-.53 2.02-.32 3.11.207 1.085.642 2.094 1.298 3.036.656.942 1.503 1.76 2.54 2.384 1.037.624 2.18.966 3.417 1.045 1.237.08 2.502.072 3.768-.008 1.266-.08 2.477-.384 3.633-.912 1.156-.528 2.18-1.296 3.078-2.304.898-1.008 1.528-2.224 1.93-3.648.402-1.424.492-2.92.27-4.432-.222-1.512-.87-2.88-1.92-4.008-1.05-.12-2.12-.178-3.21-.168zm-9.615 10.316v-6.999l6 3.5-6 3.499z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'Facebook', 
    href: 'https://www.facebook.com/novikernel', 
    target: '_blank',
    icon: {
      path: 'M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.958.192-1.333 1.58-1.333h2.42c.046-2.636-.595-5-5-5-3.31 0-5 1.867-5 4.735v2.265z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'Instagram', 
    href: 'https://www.instagram.com/novikernel', 
    target: '_blank',
    icon: {
      path: 'M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'WhatsApp', 
    href: 'https://whatsapp.com/channel/0029Vb7rSts1t90cDOYBjr06', 
    target: '_blank',
    icon: {
      path: 'M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z',
      viewBox: '0 0 24 24'
    }
  },
  {
    name: 'Gmail',
    href: 'mailto:novikernel@gmail.com',
    target: '_self',
    icon: {
      path: 'M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'GitHub', 
    href: 'https://novikernel.github.io', 
    target: '_blank',
    icon: {
      path: 'M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.087-.744.084-.692.084-.692 1.205.084 1.838 1.237 1.838 1.237 1.07 1.836 2.809 1.305 3.492.998.108-.778.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.046.138 3.003.404 2.292-1.552 3.3-.322 3.3-.322.652 1.652.241 2.873.118 3.176.767.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.923.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.771-1.587 8.2-6.085 8.2-11.389 0-6.627-5.373-12-12-12z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'Linktree', 
    href: 'https://linktr.ee/novikernel', 
    target: '_blank',
    icon: {
      path: 'M13.66 4.34a5 5 0 0 1 7 7L18 14a5 5 0 0 1-7-7l1.17-1.17a1 1 0 0 1 1.42 1.42L12.41 8.41a3 3 0 0 0 4.24 4.24l2.66-2.66a3 3 0 0 0-4.24-4.24L13.66 7.17a1 1 0 1 1-1.42-1.42ZM9.17 12.41 6.5 15.08a3 3 0 0 0 4.24 4.24l1.42-1.42a1 1 0 0 1 1.42 1.42L12.17 20.75a5 5 0 0 1-7-7L7.83 11.08a5 5 0 0 1 7 7 1 1 0 0 1-1.42-1.42L12.17 15.59a3 3 0 0 0-4.24-4.24l-.42.41a1 1 0 0 1-1.42-1.42Z',
      viewBox: '0 0 24 24'
    }
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/company/novikernel",
    target: '_blank',
    icon: {
      path: 'M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.238 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z',
      viewBox: '0 0 24 24'
    }
  }
];
---
<div class="flex items-center space-x-4">
  {socialLinks.map((link) => (
    <a
      href={link.href}
      aria-label={link.name}
      target={link.target}
      rel="noopener noreferrer"
      class="text-neutral-light hover:text-accent-primary transition-colors duration-200 p-2 rounded-full hover:bg-accent-muted/50"
    >
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox={link.icon.viewBox}
        class="h-6 w-6"
        fill="currentColor"
      >
        <path d={link.icon.path} />
      </svg>
    </a>
  ))}
</div>
