---
// src/components/SocialIcons.astro

const socialLinks = [
  { 
    name: 'GitHub', 
    href: 'https://github.com/novikernel', 
    target: '_blank',
    icon: {
      path: 'M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.087-.744.084-.692.084-.692 1.205.084 1.838 1.237 1.838 1.237 1.07 1.836 2.809 1.305 3.492.998.108-.778.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.046.138 3.003.404 2.292-1.552 3.3-.322 3.3-.322.652 1.652.241 2.873.118 3.176.767.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.923.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.771-1.587 8.2-6.085 8.2-11.389 0-6.627-5.373-12-12-12z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'YouTube', 
    href: 'https://www.youtube.com/@NoviKernel', 
    target: '_blank',
    icon: {
      path: 'M19.615 3.184c-3.64-.268-7.394-.268-11.033 0-2.458.18-3.955.932-5.418 2.394-.783.784-1.385 1.688-1.802 2.668-.426.984-.53 2.02-.32 3.11.207 1.085.642 2.094 1.298 3.036.656.942 1.503 1.76 2.54 2.384 1.037.624 2.18.966 3.417 1.045 1.237.08 2.502.072 3.768-.008 1.266-.08 2.477-.384 3.633-.912 1.156-.528 2.18-1.296 3.078-2.304.898-1.008 1.528-2.224 1.93-3.648.402-1.424.492-2.92.27-4.432-.222-1.512-.87-2.88-1.92-4.008-1.05-.12-2.12-.178-3.21-.168zm-9.615 10.316v-6.999l6 3.5-6 3.499z',
      viewBox: '0 0 24 24'
    }
  },
  { 
    name: 'Facebook', 
    href: 'https://www.facebook.com/profile.php?id=61583955062189', 
    target: '_blank',
    icon: {
      path: 'M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.958.192-1.333 1.58-1.333h2.42c.046-2.636-.595-5-5-5-3.31 0-5 1.867-5 4.735v2.265z',
      viewBox: '0 0 24 24'
    }
  },
  {
    name: 'Gmail',
    href: 'mailto:novikernel@gmail.com',
    target: '_self',
    icon: {
      path: 'M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z',
      viewBox: '0 0 24 24'
    }
  }
];
---
<div class="flex items-center space-x-4">
  {socialLinks.map((link) => (
    <a
      href={link.href}
      aria-label={link.name}
      target={link.target}
      rel="noopener noreferrer"
      class="text-neutral-light hover:text-accent-primary transition-colors duration-200 p-2 rounded-full hover:bg-accent-muted/50"
    >
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox={link.icon.viewBox}
        class="h-6 w-6"
        fill="currentColor"
      >
        <path d={link.icon.path} />
      </svg>
    </a>
  ))}
</div>
